<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>app_store</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <style>
    .product-name {
      font-size: 36px;
      font-weight: bold;
      margin-top: 30px;
    }

    .product-description {
      margin-top: 30px;
    }

    .product-price {
      font-size: 24px;
      font-weight: bold;
      margin-top: 30px;
    }

    .add-to-cart {
      margin-top: 30px;
      background-color: #000;
      border-color: #000;
    }

    .add-to-cart:hover {
      background-color: #333;
      border-color: #333;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto" style="width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">app store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Software List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Shopping Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/order/shoppingCart">My order</a>
          </li>
            {% if request.COOKIES.userid %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/order/shoppingCart">My order</a>
                    </li>
                                        <li class="nav-item">
                        <a class="nav-link" href="/order"><strong>{{ request.COOKIES.username }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/useradmin/logout">logout</a>
                    </li>
          {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/useradmin/login">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/useradmin/signup">sign up</a>
                    </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="detail" style="display: flex;">
    <div class=" left">
      <img src="{{ detail.img_url }}" style="height: 500px; width: 500px; margin-left: 40px;">
    </div>
    <div class="right" style="margin-left: 140px;">
        <ul style="list-style-type: none;">
            <li style="font-size: 1.25rem;">Product Name: {{ detail.id }}</li>
            <li>Type: {{ detail.prime_genre }}</li>
            <li>Price: {{ detail.currency }} {{ detail.price }}</li>
            <li>Rating: {{ detail.user_rating }}</li>
            <li>Introduction: {{ detail.ver }}</li>
            <li>Size: {{ detail.size_bytes }}</li>
            <li>Number of Ratings: {{ detail.rating_count_tot }}</li>
            <li>Current Version Ratings: {{ detail.rating_count_ver }}</li>
            <li>Current Version Rating: {{ detail.user_rating_ver }}</li>
            <li>Content Rating: {{ detail.cont_rating }}</li>
            <li>Number of Supported Devices: {{ detail.sup_devices_num }}</li>
            <li>Number of Screenshots Shown for Display: {{ detail.ipadSc_urls_num }}</li>
            <li>Number of Supported Languages: {{ detail.lang_num }}</li>
            <li>Is VPP Licensed: {{ detail.vpp_lic }}</li>
        </ul>
    </div>

  </div>
  <div style="margin-top: 40px;text-align: center;">
       <form method="post" action="/order/addToCart/">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ detail.id }}">
              <input type="hidden" name="product_name" value="{{ detail.name }}">
              <input type="hidden" name="product_price" value="{{ detail.price }}">
              <input type="hidden" name="product_quantity" value="1">
              <button type="submit" class="btn btn-dark">Add to cart</button>
            </form>
  </div>

</body>

</html>