<!DOCTYPE html>
<html>

<head>
  <title>app_store</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <style>
    .card {
      width: 18rem;
      height: 22rem;
      font-size: 0.8rem;
    }

    .pagination a {
      color: black;
    }

    .pagination-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      <!-- min-height: 100vh; -->
      margin: 0;
    }

    .pagination-container .son {
      margin-top: auto;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto" style="width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">app store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Software List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/order/shoppingCart">Shopping Cart</a>
          </li>
            {% if request.COOKIES.userid %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/order/shoppingCart">My order</a>
                    </li>
                                        <li class="nav-item">
                        <a class="nav-link" href="/order"><strong>{{ request.COOKIES.username }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/useradmin/logout">logout</a>
                    </li>
          {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/useradmin/login">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/useradmin/signup">sign up</a>
                    </li>
          {% endif %}
        </ul>
      </div>
      <form class="d-flex align-items-center" method="get" action="/search">
          <input class="form-control me-6" type="search" name="search_query" placeholder="search" aria-label="search" style="height: 38px; width: 200px;">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
      </form>  
    </div>
  </nav>


  <div class="container my-3" style="display: flex; flex-wrap: wrap; justify-content:space-between">
    {% for item in products %}
    <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-bottom: 20px;">

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">App Id-{{item.id}}</h5>
            <p class="card-text">Price: {{item.price}}</p>
            <p class="card-text">Rating:{{item.user_rating}} </p>
            <p class="card-text">Number of rating:{{item.rating_count_tot}}</p>
            <a href="/detail/{{item.id}}" class="btn" style="background-color:#0d6efd;color: #fff;">detail</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    </div>
  </div>
  <div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                <a class="page-link" href="?{% if search_query %}search_query={{ search_query|urlencode }}&{% endif %}{% if category_query %}category={{ category_query|urlencode }}&{% endif %}page=1">首页</a>
            </li>
            <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                {% if products.has_previous %}
                    <a class="page-link" href="?{% if search_query %}search_query={{ search_query|urlencode }}&{% endif %}{% if category_query %}category={{ category_query|urlencode }}&{% endif %}page={{ products.previous_page_number }}">上一页</a>
                {% else %}
                    <a class="page-link" href="?{% if search_query %}search_query={{ search_query|urlencode }}&{% endif %}{% if category_query %}category={{ category_query|urlencode }}&{% endif %}page=1">上一页</a>
                {% endif %}
            </li>
            {% with num_pages=products.paginator.num_pages current_page=products.number %}
            {% for i in products.paginator.page_range %}
                {% if i|add:-2 <= current_page and i|add:2 >= current_page %}
                    <li class="page-item {% if products.number == i %}active{% endif %}">
                        <a class="page-link" href="?{% if search_query %}search_query={{ search_query|urlencode }}&{% endif %}{% if category_query %}category={{ category_query|urlencode }}&{% endif %}page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% endwith %}
            <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                <a class="page-link" href="?{% if search_query %}search_query={{ search_query|urlencode }}&{% endif %}{% if category_query %}category={{ category_query|urlencode }}&{% endif %}page={{ products.paginator.num_pages }}">下一页</a>
            </li>
            <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                <a class="page-link" href="?{% if search_query %}search_query={{ search_query|urlencode }}&{% endif %}{% if category_query %}category={{ category_query|urlencode }}&{% endif %}page={{ products.paginator.num_pages }}">尾页</a>
            </li>
        </ul>
    </nav>    
  </div>


</body>

</html>